.button{
    padding: .6rem 2rem;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border: 3px solid #0d7ae5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button .link{
    color: white;
    text-decoration: none;
}