.process-container{
    width: 100%;   
    overflow-x: hidden;
}
.process-width-container{
    width: 85%;
    margin: 0 auto;
}
.process-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.process-bg-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.process-img-container{
    padding: 1.2rem 2rem;
    border-radius: 2rem;
    background: #cecece80;
}
.process-bg-img img{
    width: 390px;
}
.process-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.process-nav{
    display:flex;
    align-items: center;
    gap: 1.5rem;
}
.process-nav h2{
    font-size: 18px;
    border-bottom: 2px solid grey;
    padding-bottom: .5rem;
    color: grey;
    cursor: pointer;
    transition: .3s all;
}
.process-nav h2:hover{
    color: #ff00f9;
    border-bottom: 2px solid #ff00f9;
}
.process-text{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.process-text h1{
    font-size: 32px;
    text-transform: capitalize;
}
.process-text p{
    font-size: 18px;
    width: 420px;
}
.process-text button{
    width: 150px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #0d7ae5;
    background: transparent;
    border-radius: 3rem;
    border: 2px solid #0d7ae5;
    cursor: pointer;
    transition: .3s all;
}
.process-text button:hover{
    background: #0d7ae5;
    color: white;
}
@media screen and (max-width:765px) {
    .process-flex{
        flex-direction: column;
        gap: 1.5rem;
    }
    .process-content{
        align-items: flex-start;
    }
    .process-img-container{
        width: 100%;
        padding: 0 2rem;
    }
    .process-img-container img{
        width: 100%;
    }
    .process-text p{
        font-size: 18px;
        width: 100%;
    }
}