.black-bg{
    height: 240px;
    background: black;
    z-index: -2;
}
.contact-blue-container{
    width: 100%;
    height: 240px;
    background: #0d7ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    flex-direction: column;
    border-radius: 0 0 3rem 3rem;
    z-index: -1;
    margin-top: -2rem;
    padding-top: 4rem;
    box-sizing: border-box ;
}
.contact-blue-container h2{
    font-size: 2rem;
    color: white;
    font-weight: 700;

}
.contact-blue-container button{
    width: 150px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
    background: transparent;
    border-radius: 3rem;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: .3s all;
}
.contact-blue-container button:hover{
    background: #0d7ae5;
    color: white;
}
button .link{
    color: white;
    text-decoration: none;
}