.service_container{
   width: 100%;
   margin: 0 auto;
   overflow-x: hidden;
   z-index: 10;
   padding-bottom: 10rem;
}
.service_container_width{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem .2rem;
    position: relative;
}
.service_container h6{
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'Oswald',sans-serif;
}
.card_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card_row{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
.service_card{
    width: 100%;
    min-width: 320px;
    height: 100px;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid black;
    border-radius: 15px;
}
.service_card h4{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #00000090;
}
.service_card img{
    height: 100%;
}
.more_service_container{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
}
.service_card_v2{
    /* width: 100%; */
    padding: 1.5rem;
    background: #B8D1E3;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: .4s all;
}
.service_card_v2:hover{
    transform: scale(1.07);
}
.service_card_v2 H2{
    font-size: 24px;
}
.service_card_v2 p{
    font-size: 18px;
    max-width: 400px;
    font-weight: 600;
    color:#00000082;
}
.service_card_v2 button{
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid black;
    background: transparent;
    border-radius: 20px;
    padding: .6rem 0;
}
@media screen and (max-width:765px) {
    .service_container{
        width: 92%;
    }
    .card_row{
        flex-direction: column;
    }
    .service_card{
        width: auto;
    }
    .service_card h4{
      font-size: 1.5rem;
    }
    .more_service_container{
        flex-direction: column;
    }
}
.background-black{
    width: 100%;
    height: 200px;
    background: linear-gradient(#fff,#000);
    z-index: -10;
    margin-top: -150px;
}